body {
    background-color: lightblue;
    text-align: center;
}

div1 {
    color:blue;
    font-size: medium;
}
    


 div2{
    color: blue;    
    font-size: medium;
}

div3{
    color: blue;
    h2{text-decoration: underline;
    text-decoration-color: black;}
    font-size: medium;
}
div4{
    background-color: blue;    
    font-size: medium;
}

div5{
    color: blue;
    font-size: medium;
}
